<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C32D83832A55D247003C44F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C32D83C62A55D8AE003C44F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C33E02072A56187D00529208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3E344EC2A56462400971515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
